$font-base: 'Helvetica Neue', sans-serif;

// color
$whit: #ffffff;
$prim: #222222;
$spot: #D77247;
$bgco: #EDEDED;
$lgry: #CCCBCF;
$dgry: #B5B4B9;

// spacing
$spacing-sm: 2rem;
$spacing-md: 4rem;
$spacing-lg: 8rem;
$spacing-bg: 12rem;
$spacing-hg: 16rem;
$spacing-en: 24rem;

// screen sizes
$screen-small: 600px;
$screen-medium: 900px;
$screen-large: 1200px;
$screen-huge: 1600px;
