// color
$whit: #ffffff;
$prim: #222222;
$spot: #D77247;
$bgco: #EDEDED;
$lgry: #CCCBCF;
$dgry: #B5B4B9;

$font-base: 'Helvetica Neue', sans-serif;

// font sizes
$font-tiny: 1rem;
$font-small: 1.8rem;
$font-normal: 2.2rem;
$font-medium: 3.2rem;
$font-huge: 8rem;

// screen sizes

$screen-small: 600px;
$screen-medium: 900px;
$screen-large: 1200px;
$screen-huge: 1600px;
