@charset "UTF-8";
@import url("//hello.myfonts.net/count/3d574a");
.reset-button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none; }

iframe {
  frameborder: 0; }

nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }

dl, dd {
  margin: 0;
  paddng: 0; }

html {
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0; }

article,
aside,
footer,
header,
nav,
section {
  display: block; }

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bold; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  /* 1 */
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

[hidden] {
  display: none; }

html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-rendering: optimizeLegibility; }

*,
*:before,
*:after {
  box-sizing: inherit; }

html {
  background-color: #EDEDED;
  color: #222222; }

html,
body {
  height: 100%; }

body {
  display: flex;
  flex-direction: column; }

.site__content {
  flex: 1 0 auto; }

.site__footer {
  flex-shrink: 0; }

a {
  color: #222222;
  text-decoration: none; }

a.underline {
  border-bottom: 1px solid #222222;
  opacity: 1;
  transition: all 0.3s ease; }
  a.underline:hover {
    opacity: 0.7;
    border-bottom: 1px solid #EDEDED; }

img {
  max-width: 100%;
  display: block; }

/**
 * @license
 * MyFonts Webfont Build ID 4020042, 2021-02-25T06:34:20-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: NHaasGroteskDSPro-55Rg by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/neue-haas-grotesk/pro-display-55-roman/
 * 
 * Webfont: NHaasGroteskDSPro-75Bd by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/neue-haas-grotesk/pro-display-75-bold/
 * 
 * 
 * Webfonts copyright: Copyright &amp;#x00A9; 2013 Monotype Imaging Inc. All rights reserved.
 * 
 * © 2021 MyFonts Inc
*/
/* @import must be at top of file, otherwise CSS will not work */
@font-face {
  font-family: "NHaasGroteskDSPro-75Bd";
  src: url("fonts/NHaasGroteskDSPro75Bd/font.woff2") format("woff2"), url("fonts/NHaasGroteskDSPro75Bd/font.woff") format("woff"); }

@font-face {
  font-family: "NHaasGroteskDSPro-55Rg";
  src: url("fonts/NHaasGroteskDSPro55Rg/font.woff2") format("woff2"), url("fonts/NHaasGroteskDSPro55Rg/font.woff") format("woff"); }

:root {
  --font-base: 52.5%;
  --font-sm: 1.6rem;
  --font-st: 2rem;
  --font-md: 3.2rem;
  --font-bg: 4.8rem;
  --font-hg: 6.4rem; }

@media (min-width: 900px) {
  :root {
    --font-base: 62.5%; } }

@media (min-width: 1200px) {
  :root {
    --font-hg: 8.4rem; } }

html {
  font-size: var(--font-base);
  -webkit-font-smoothing: antialiased;
  text-align: left; }

body {
  font-family: "NHaasGroteskDSPro-55Rg", "Helvetica Neue", sans-serif; }

p {
  font-size: var(--font-st);
  line-height: 1.25;
  margin-top: 3rem; }

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin: 0;
  text-transform: uppercase; }

h1, h2, h3 {
  font-family: "NHaasGroteskDSPro-75Bd", "Helvetica Neue", sans-serif;
  font-weight: normal; }

h1 {
  font-size: var(--font-hg);
  letter-spacing: -0.1rem; }

h2 {
  font-size: var(--font-bg);
  letter-spacing: -0.1rem; }

h3 {
  font-size: var(--font-md); }

h4 {
  font-size: var(--font-sm);
  font-weight: normal; }

.upper {
  text-transform: uppercase; }

.cap {
  text-transform: capitalize; }

.caption {
  text-transform: uppercase;
  display: inline-block;
  border-bottom: 1px solid #222222; }

.smallprint {
  font-size: var(--font-sm);
  line-height: 1.5; }

.bigprint {
  font-family: "NHaasGroteskDSPro-75Bd", "Helvetica Neue", sans-serif;
  font-weight: normal;
  line-height: 1.25; }
  .bigprint p {
    font-size: var(--font-bg);
    max-width: 48ch;
    margin: 8rem 0; }

.bold,
strong {
  font-family: "NHaasGroteskDSPro-75Bd", "Helvetica Neue", sans-serif;
  font-weight: normal; }

.flex {
  display: flex; }

.video__wrap {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0; }

.video__wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.image__cover img {
  width: 100%; }

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible; }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }

.ticker__wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
  box-sizing: content-box;
  margin-bottom: 16rem;
  padding-left: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #222222;
  color: #EDEDED;
  font-size: var(--font-md); }

.ticker {
  display: inline-block;
  padding-right: 100%;
  white-space: nowrap;
  box-sizing: content-box;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 30s;
  animation-duration: 30s; }
  .ticker__item {
    display: inline-block;
    margin: 0 4rem; }

:root {
  --site-spacing: 1rem; }

@media (min-width: 600px) {
  :root {
    --site-spacing: 2rem; } }

@media (min-width: 900px) {
  :root {
    --site-spacing: 4rem; } }

.inner {
  margin: 0 var(--site-spacing); }

.site__content {
  background: #EDEDED; }

.layout__center {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.spacing--lg {
  margin-top: 8rem;
  margin-bottom: 8rem; }

.spacing--bg {
  margin-top: 12rem;
  margin-bottom: 12rem; }

.spacing--hg {
  margin-top: 16rem;
  margin-bottom: 16rem; }

.top--lg {
  margin-top: 8rem; }

.top--bg {
  margin-top: 12rem; }

.top--hg {
  margin-top: 16rem; }

.nav__bar {
  padding: 2rem 0;
  line-height: 1; }
  @media (min-width: 600px) {
    .nav__bar {
      display: flex; } }

.site__name {
  text-transform: uppercase;
  font-family: "NHaasGroteskDSPro-75Bd", "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: var(--font-st);
  letter-spacing: 0;
  line-height: 1;
  margin: 0; }

.solebox__curated {
  margin-left: auto;
  font-size: 1.6rem; }
  .solebox__curated a {
    height: 36px;
    display: flex;
    align-items: flex-end; }
  .solebox__curated img {
    height: 2rem;
    position: relative;
    left: 6px;
    top: -1px; }
    @media (min-width: 600px) {
      .solebox__curated img {
        height: 2.7rem; } }

.jumpman {
  fill: green; }

button {
  display: inline;
  border: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 2.2rem;
  letter-spacing: 0;
  font-weight: normal;
  line-height: 1; }

button:hover,
button:focus {
  background: transparent; }

button:focus {
  outline: none;
  outline-offset: 0; }

.button {
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  border: 2px solid #222222;
  display: inline-block;
  padding: 1rem 2.2rem;
  border-radius: 2rem;
  transition: all 0.1s linear; }
  .button:hover {
    background-color: #222222;
    color: #EDEDED; }

.button--big {
  font-size: var(--font-md);
  font-weight: normal;
  text-transform: uppercase;
  padding: 1.8rem 4.8rem;
  border-radius: 4rem; }

.nav__btn {
  text-align: center;
  margin: 8rem 0; }

.archive__list {
  border-top: 2px solid #222222; }

.l__entry {
  border-bottom: 2px solid #222222;
  display: flex;
  align-items: center;
  font-size: var(--font-md);
  padding: 1rem 0;
  text-transform: uppercase; }

.l__no {
  display: none; }

.l__tag {
  display: none;
  order: 3; }

.l__images {
  order: 1; }

.l__title {
  order: 2; }

@media (min-width: 900px) {
  .l__no {
    display: block;
    order: 0; }
  .l__tag {
    display: block;
    order: 0; }
  .l__images {
    order: 0; }
  .l__title {
    order: 0; } }

.l__entry > div {
  margin-right: 2rem; }

@media (min-width: 600px) {
  .l__tag {
    flex: 0 0 240px; } }

.l__link {
  display: flex;
  align-items: center; }

.l__title {
  font-family: "NHaasGroteskDSPro-75Bd", "Helvetica Neue", sans-serif;
  font-weight: normal;
  margin-left: 2rem; }
  @media (min-width: 600px) {
    .l__title {
      overflow: hidden;
      white-space: nowrap; } }

.l__images {
  display: flex;
  flex: 1 0 auto; }
  .l__images img {
    height: 10rem;
    width: auto;
    margin-right: 1rem; }

.img__add {
  display: none; }

@media (min-width: 900px) {
  a:hover .img__add {
    display: flex;
    animation-name: animateIn;
    animation-duration: 200ms;
    animation-delay: 50ms;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out; }
  .l__images .img__add:nth-child(2) {
    animation-delay: 50ms; }
  .l__images .img__add:nth-child(3) {
    animation-delay: 100ms; }
  .l__images .img__add:nth-child(4) {
    animation-delay: 150ms; }
  .l__images .img__add:nth-child(5) {
    animation-delay: 200ms; }
  @keyframes animateIn {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } } }

.site__footer {
  margin-top: 16rem;
  padding: 4rem 0;
  background: #222222;
  color: #EDEDED;
  font-size: var(--font-sm);
  text-transform: uppercase; }
  .site__footer a {
    color: #EDEDED;
    opacity: 1;
    transition: all .3s ease; }
    .site__footer a:hover {
      opacity: 0.7; }

.footer {
  display: flex;
  align-items: center; }

@media (min-width: 600px) {
  .footer__nav ul {
    display: flex;
    align-items: center; } }

.footer__nav li {
  margin: 0 3rem 0.5rem 0; }

.footer__nav a {
  border-bottom: 1px solid #EDEDED; }
  .footer__nav a:hover {
    border-bottom: none; }

.footer__nav a.noline {
  border-bottom: none; }

.footer__solebox {
  margin-left: auto;
  display: flex;
  align-items: center; }

.jumpman {
  fill: #EDEDED;
  height: 60px; }

.pin {
  fill: #EDEDED;
  height: 32px; }

#landing .site__content {
  margin-top: 100vh; }

.site__cover {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: url("../../img/cover-01.jpg") 0 0 no-repeat;
  background-size: cover;
  z-index: -1; }

.pattern {
  width: 100%;
  display: block;
  background: url("../elm/pattern-big.svg") center center no-repeat;
  background-size: cover; }

.pattern--strip {
  height: 200px; }

.protag {
  font-size: var(--font-sm);
  background-color: #222222; }
  .protag p {
    font-size: var(--font-sm);
    line-height: 2.5rem;
    margin: 0; }

@media (min-width: 1200px) {
  .protag__cols,
  .protag__bar {
    display: flex; } }

@media (min-width: 1200px) {
  .protag__body {
    width: 40%; }
  .protag__cover {
    max-width: 50%; } }

.protag__body {
  padding-bottom: 2rem;
  background-color: #fff; }

.protag__cols .protag__content div {
  margin: 4rem 0; }

@media (min-width: 1200px) {
  .protag__bar .protag__link {
    padding-left: 4rem; } }

.protag__content--bar {
  background-color: #fff;
  padding: 2rem var(--site-spacing); }
  .protag__content--bar div {
    margin: 4rem 0; }
  @media (min-width: 1200px) {
    .protag__content--bar {
      display: flex; }
      .protag__content--bar div {
        margin: 0; } }

.protag__facts {
  text-transform: uppercase;
  line-height: 2.5rem;
  flex: 1 0 300px; }
  .protag__facts p {
    letter-spacing: 0.05rem; }
    .protag__facts p strong {
      letter-spacing: 0.1rem; }

.protag__text {
  align-self: flex-start;
  flex: 1 0 400px; }

.button--protag {
  font-size: var(--font-md);
  font-weight: normal;
  text-transform: uppercase;
  padding: 1.8rem 4rem;
  border-radius: 4.8rem;
  color: #EDEDED;
  border: 2px solid #EDEDED;
  margin: 0 2rem; }
  @media (min-width: 1600px) {
    .button--protag {
      margin: 0 8rem; } }

.protag__btn {
  background-color: #D77247;
  text-align: center;
  padding: 3.2rem 0;
  align-self: center; }

.protag__link {
  white-space: nowrap;
  display: flex; }
  .protag__link a {
    align-self: center; }

.four__images {
  margin-left: -8vw;
  margin-right: 8vw;
  width: calc(100% + 16vw);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4vw; }
  .four__images a img {
    opacity: 1;
    transition: all 0.3s ease; }
  .four__images a:hover img {
    opacity: 0.7; }

.lay__img {
  margin: 8rem 0; }

.img--right {
  margin-left: auto; }

.raffle__banner {
  background-color: #CCCBCF;
  background: url("../elm/pattern-big.svg") center center no-repeat;
  background-size: cover;
  margin-top: 16rem; }
  .raffle__banner a {
    opacity: 1;
    transition: all 0.3s ease; }
    .raffle__banner a:hover {
      opacity: 0.8; }

.raffle__inner {
  padding: 4rem 0; }
  @media (min-width: 900px) {
    .raffle__inner {
      display: flex;
      align-items: center; } }

.raffle__img {
  flex: 2 0 20%; }

.raffle__heading {
  flex: 2 0 60%;
  margin: 4rem 0; }
  @media (min-width: 900px) {
    .raffle__heading {
      margin: 0 0 0 4rem; } }

.raffle__arrow {
  flex: 1 0 10%;
  margin-left: auto;
  margin-right: 4rem;
  max-width: 120px; }
  @media (min-width: 900px) {
    .raffle__arrow {
      max-width: 200px; } }

.raffle__arrow a svg {
  transform: translate(0, 0);
  transition: all 0.2s ease-in-out; }

.raffle__arrow a:hover svg {
  transform: translate(2rem, 0); }

.header {
  display: flex;
  align-items: flex-end;
  margin-top: 24rem;
  margin-bottom: 4rem; }

.filter {
  margin-left: auto;
  font-size: var(--font-sm);
  text-transform: uppercase; }

.entry {
  max-width: 1080px; }
  @media (min-width: 1600px) {
    .entry {
      max-width: 1420px; } }

.entry__content {
  margin-top: 16rem;
  font-size: var(--font-st);
  line-height: 1.5; }

.entry__fields {
  text-transform: uppercase;
  display: grid;
  gap: 2rem;
  margin: 8rem 0; }
  @media (min-width: 600px) {
    .entry__fields {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr; } }
  @media (min-width: 900px) {
    .entry__fields {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr; } }

.entry__note {
  margin: 4rem 0; }
  .entry__note p {
    max-width: 75ch;
    line-height: 1.5; }

.dl_inline dt {
  float: left; }

.entry__map {
  margin-top: 8rem; }

.entry__images {
  margin-top: 16rem; }
  .entry__images img {
    margin: 8rem 0; }
  .entry__images img:first-of-type {
    margin-top: 2rem; }

.archive__nav {
  margin-top: 4rem;
  font-size: var(--font-st);
  text-transform: uppercase; }
  @media (min-width: 900px) {
    .archive__nav {
      display: flex; } }

.archive__back {
  margin: 4rem 0; }
  @media (min-width: 900px) {
    .archive__back {
      margin: 0; } }
  .archive__back a {
    display: flex; }
  .archive__back .arrow--back {
    height: 4rem;
    margin-left: 1rem;
    position: relative;
    top: -2px;
    transition: all .5s ease-in-out; }
    @media (min-width: 900px) {
      .archive__back .arrow--back {
        height: 5.6rem;
        top: -12px; } }

a:hover .arrow--back {
  transform: rotate(-360deg); }

.archive--prev {
  width: 240px; }

.archive--next {
  margin-left: auto; }

.headroom {
  position: fixed;
  background-color: transparent;
  z-index: 99;
  width: 100%;
  will-change: transform;
  transition: transform 125ms linear; }

.headroom--pinned {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  background-color: #EDEDED; }

.headroom--top {
  background-color: transparent; }

.headroom--unpinned {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%); }
