// IMAGES

// 4 image bar 

.four__images {
  margin-left: -8vw;
  margin-right: 8vw;
  width: calc(100% + 16vw);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4vw;
  a img {
    @include ease;
  }
  a:hover img {
    opacity: 0.7;
  }
}

.lay__img {
  margin: $spacing-lg 0;
}

.img--right {
  margin-left: auto;
}
