.entry {
  max-width: 1080px;
  @include hg {
    max-width: 1420px;
  }
}

.entry__content {
  margin-top: $spacing-hg;
  font-size: var(--font-st);
  line-height: 1.5;
}

.entry__fields {
  text-transform: uppercase;
  display: grid;
  gap: 2rem;
  margin: $spacing-lg 0;
  @include sm {
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  @include md {
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.entry__note {
  margin: $spacing-md 0;
  p {
    max-width: 75ch;
    line-height: 1.5;
  }
}

.dl_inline dt {
  float: left;
}

.entry__map {
  margin-top: $spacing-lg;
}
.entry__images {
  margin-top: $spacing-hg;
  img {
    margin: $spacing-lg 0;
  }
  img:first-of-type {
    margin-top: $spacing-sm;
  }
}

.archive__nav {
  margin-top: $spacing-md;
  font-size: var(--font-st);
  text-transform: uppercase;
  @include md {
    display: flex;
    }
}

.archive__back {
  margin: $spacing-md 0;
  @include md {
    margin: 0;
  }
  a {
    display: flex;
  }
  .arrow--back {
    height: 4rem;
    margin-left: 1rem;
    position: relative;
    top: -2px;
    transition: all .5s ease-in-out;
    @include md {
      height: 5.6rem;
      top: -12px;
    }
  }
}

a:hover .arrow--back {
 transform: rotate(-360deg);
}

.archive--prev {
  width: 240px;
}
.archive--next {
  margin-left: auto;
}
