html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  background-color: $bgco;
  color: $prim;
}


// STICKY FOOTER

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}
.site__content {
  flex: 1 0 auto;
}
.site__footer {
  flex-shrink: 0;
}


// LINKS

a {
  color: $prim;
  text-decoration: none;
}

a.underline {
  border-bottom: 1px solid;
}


// IMG

img {
  max-width: 100%;
  display: block;
}