button {
  display: inline;
  border: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 2.2rem;
  letter-spacing: 0;
  font-weight: normal;
  line-height: 1;
}

button:hover,
button:focus {
  background: transparent;
}

button:focus {
  outline: none;
  outline-offset: 0;
}

.button {
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  border: 2px solid $prim;
  display: inline-block;
  padding: 1rem 2.2rem;
  border-radius: 2rem;
  transition: all 0.1s linear;
  &:hover {
    background-color: $prim;
    color: $bgco;
  }
}

.button--big {
  font-size: var(--font-md);
  font-weight: normal;
  text-transform: uppercase;
  padding: 1.8rem 4.8rem;
  border-radius: 4rem;
}

.button--protag {
  font-size: var(--font-md);
  font-weight: normal;
  text-transform: uppercase;
  padding: 1.8rem 4rem;
  margin: 0 $spacing-md;
  // display: inline-block;
  border-radius: 4.8rem;
  color: $bgco;
  border: 2px solid $bgco;
}

.nav__btn {
  text-align: center;
  margin: $spacing-lg 0;
}