#landing .site__content {
  margin-top: 100vh;
}

.site__cover {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: url("/img/cover-01.jpg") 0 0 no-repeat;
  background-size: cover;
  z-index: -1;
}

// PROTAGONIST BARS

.protag {
  font-size: var(--font-sm);
  background: #fff;
  p {
    line-height: 2.5rem;
    margin: 0;
  }
}

.protag__cols,
.protag__bar {
  display: flex;
}

// columns

.protag__cover {
  width: 50%;
  img {
    width: 100%;
  }
}
.protag__body {
  width: 50%;
}

.protag__content {
  padding: 2rem 0;
}

.protag__cols .protag__content div {
  margin: 4rem 0;
}

.protag__facts {
   text-transform: uppercase;
   line-height: 2.5rem;
   flex: 0 0 200px;
   dt {
      font-weight: bold;
   } 
}

.protag__text {
  align-self: flex-start;
  flex: 0 0 600px;
  p {
    max-width: 75ch;
  }
}

.protag__btn {
  background-color: $spot;
  text-align: center;
  padding: 3.2rem 0;
  align-self: center;
}

.protag__link {
  margin-left: auto;
  white-space: nowrap;
  display: flex;
  a {
    align-self: center;
  }
}

// IMAGES

// 4 image bar 

.four__images {
  margin-left: -8vw;
  margin-right: 8vw;
  width: calc(100% + 16vw);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4vw;
  a img {
    @include ease;
  }
  a:hover img {
    opacity: 0.7;
  }
}

.lay__img {
  margin: $spacing-lg 0;
}


.img--right {
  margin-left: auto;
}

