:root {
  --site-spacing: 1rem;
}

@include sm {                             
  :root {
  --site-spacing: 2rem;
  }
}

@include md {                             
  :root {
  --site-spacing: 4rem;
  }
}

.inner {
  margin: 0 var(--site-spacing);
}

.site__content {
  background: $bgco;
}
