.archive__list {
 border-top: 2px solid $prim; 
}

.l__entry {
  border-bottom: 2px solid $prim;
  display: flex;
  align-items: center;
  font-size: var(--font-medium);
  padding: 1rem 0;
  text-transform: uppercase;
}

// order mobile
.l__no { display: none; }
.l__tag  { display: none; order: 3; }
.l__images  { order: 1; }
.l__title { order: 2; }

@include md {
// order desktop
.l__no { display: block; order: 0; }
.l__tag  { display: block; order: 0; }
.l__images  { order: 0; }
.l__title { order: 0; }
}


.l__entry > div {
  margin-right: 2rem;
}
.l__tag {
  @include sm {
    flex: 0 0 200px;
  }
}

.l__link {
  display: flex;
  align-items: center;
}

.l__title {
  margin-left: 2rem;
  font-weight: bold;
  @include sm {
    overflow: hidden;
    white-space: nowrap;
  }
}

.l__images {
  display: flex;
  flex: 1 0 auto; 
  img {
    height: 10rem;
    width: auto;
    margin-right: 1rem;
  }
}

.img__add {
  display: none;
}

@include md {
  a:hover .img__add {
    display: flex;
    animation-name: animateIn;
    animation-duration: 200ms;
    animation-delay: 50ms;  
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }
  .l__images .img__add:nth-child(2) {
    animation-delay: 50ms;
  }
  .l__images .img__add:nth-child(3) {
    animation-delay: 100ms;
  }
  .l__images .img__add:nth-child(4) {
    animation-delay: 150ms;
  }
  .l__images .img__add:nth-child(5) {
    animation-delay: 200ms;
  }
  
  @keyframes animateIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

