.header {
  display: flex;
  align-items: flex-end;
  margin-top: $spacing-en;
  margin-bottom: $spacing-md;
}

.filter {
  margin-left: auto;
  font-size: var(--font-sm);
  text-transform: uppercase;
}