html {
  font-size: 62.5%; 
  -webkit-font-smoothing: antialiased;
  text-align: left;
}
p {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
}

h1 {
  font-size: $font-huge;
  letter-spacing: -0.2rem;
}

h4 {
  font-size: $font-small;
  font-weight: normal;
}

.upper {
  text-transform: uppercase;
}
.cap {
  text-transform: capitalize;
}

.smallprint {
  font-size: $font-tiny;
  line-height: 1.5;
}

.bold,
strong {
  font-weight: bold;
}
