// TYPOGRAPHIC VARS

:root {
  --font-base: 52.5%;
  //
  --font-sm: 1.6rem;
  --font-st: 2rem;
  --font-md: 3.2rem;
  --font-bg: 4.8rem;
  --font-hg: 6.4rem;
}

@media (min-width: 900px) {                             
  :root {
  --font-base: 62.5%;
  }
}

@media (min-width: 1200px) {                             
  :root {
  --font-hg: 8.4rem;
  }
}

html {
  font-size: var(--font-base); 
  -webkit-font-smoothing: antialiased;
  text-align: left;
}

body {
  font-family: $font-base;
}

p {
  font-size: var(--font-st); 
  line-height: 1.25;
  margin-top: 3rem;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
}

h1, h2, h3 {
  font-family: $font-bold;
  font-weight: normal;
}

h1 {
  font-size: var(--font-hg);
  letter-spacing: -0.1rem;
}

h2 {
  font-size: var(--font-bg);
  letter-spacing: -0.1rem;
}

h3 {
  font-size: var(--font-md);
}

h4 {
  font-size: var(--font-sm);
  font-weight: normal;
}

.upper {
  text-transform: uppercase;
}

.cap {
  text-transform: capitalize;
}

.caption {
  text-transform: uppercase;
  display: inline-block;
  border-bottom: 1px solid $prim;
}

.smallprint {
  font-size: var(--font-sm);
  line-height: 1.5;
}

.bigprint {
  font-family: $font-bold;
  font-weight: normal;
  line-height: 1.25;
  p {
    font-size: var(--font-bg);
    max-width: 48ch;
    margin: 8rem 0;
  }
}

.bold,
strong {
  font-family: $font-bold;
  font-weight: normal;
}
